/* вырисовка вектора */
.draw-svg {
    animation: draw 1s linear forwards;
}
@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

/* шум на фоне */
.bg-noise {
    background-repeat: repeat !important;
    pointer-events: none;
    width: 100vw !important;
    height: 100vh !important;
    position: fixed;
    top: 0;
    left: 0;
}

/* ссылки италиком */
.it-links:hover {
    font-style: italic;
}

/* универсальный бургер */
.burgerWrapper {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
}
.burgerToggler,
.burgerBlock {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
}
.burgerToggler {
    z-index: 99999 !important;
}
.burgerBlock {
    height: 100vh;
}
.burgerBlock > div > div{
    height: 100vh;
}
.burgerButton {
    cursor: pointer;
}
.burgerHidden {
    opacity: 0;
    z-index: 0 !important;
    pointer-events: none;
}
.burgerShown {
    opacity: 1;
    z-index: 9999 !important;
    pointer-events: auto;
}