.gridContainer {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}
.container {
    width: 100vw;
    height: 100vh;
    margin: 50px auto;
}
.some_tilda_bullshit {
    width: 400px;
    height: 400px;
    background-color: yellow;
    display: grid;
    place-items: center;
    border-radius: 50%;
}
.button_bg {
    width: 300px;
    height: 140px;
    border-radius: 10px;
}